<%- include ('../includes/header.ejs') %>
    <div class="container" style="text-align:center;"">
        <img src="https://cdn.dribbble.com/users/1985885/screenshots/6202697/404-b_2x.png" 
        style="width: 30%;"
        alt="">
        <h1 style="text-align:center; font-size: 24px; font-weight: bold;">Page Not Founds</h1>
    </div>
<%- include ('../includes/footer.ejs') %> 
