<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="/css/style.css")
    body
        header.header
            nav
                ul
                    li
                        a(href="/", class=(rName === 'frontShop' ? 'active' : '')) Shop
                    li
                        a(href="/admin/add-product", class=(rName === 'adminAddProduct' ? 'active' : '')) Add Product
        .main
            block content