<%- include ('../includes/header.ejs') %>
<div class="main">
    <% if (products.length > 0) { %>
        <p>List of Product</p>
        <ul>
            <% for(let product of products){ %>
                <li><%=product.title%></li>
            <% } %>
        </ul>
    <% } else { %>
        <p>No Product</p>
    <% } %>
</div>
<%- include ('../includes/footer.ejs') %> 