<%- include ('../includes/header.ejs') %>
    <div class="container">
        <form action="/admin/add-product" method="POST">

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                    <input class="input" type="password" name="confirm_password" required>
                </div>
            </div>

            <button class="button is-success" type="submit">
                <span>Register</span>
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
            </button>
        </form>
    </div>
<%- include ('../includes/footer.ejs') %>